.order-back{

  &__main{
    max-width: $width-max-desktop;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  &__contenair{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 12rem;
    margin-bottom: 5rem;
    padding: 1rem 2.5rem 0rem 2.5rem;
    border-radius: 1rem;
    background-color: #ededed;
    color:#1c166c;
  }

  &__section{
    min-height: 30rem;
    font-size: 1.9rem;
    padding: 0rem 0rem 3rem 0rem;
    border-radius: 1rem;
    background-color: #ededed;
  }

  &__h2{
    text-align: center;
  }
  &__link{
    text-decoration: none;
  }

  &__p{
    margin-bottom: 4rem;
  }


}

@media screen and (max-width: 768px) {

  .order-back{ 

    &__main{

      width: 100%;
      margin-top: 8rem;
      margin-bottom: 0rem;
      height:55rem;
    }

    &__contenair{
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 0rem;
      border-radius: 0rem;
      padding-bottom: 0rem;
      height:100%;

    }
  }
}
