
.order-stringer-detail{

    &__checkbox-wrapper{
      display: flex;  
      align-items: baseline;
    }
    &__checkbox-text{
        font-size: 1.6rem; 
      }
}

.order-stringer-detail__checkbox {
    appearance: none;
    width: 1.7rem;
    height: 1.7rem;
    border: 0.2rem solid #919090;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-bottom: 0rem;
    margin-right: 1rem;
}

.order-stringer-detail__checkbox:checked {
    background-color: #007bff; /* Couleur lorsque la case est cochée */
    border-color: #007bff; /* Couleur de la bordure lorsque la case est cochée */
}

/* Style du "checkmark" à l'intérieur de la case à cocher */
.order-stringer-detail__checkbox::after {
    content: "\2713"; /* Symbole "checkmark" Unicode */
    position: absolute;
    top: 0.1rem;
    left: 0.3rem;
    font-size: 1rem;
    color: white;
    display: none;
}

.order-stringer-detail__checkbox:checked::after {
    display: block;
}


.oneOrder-stringer__contenair-cart{
    position: relative;
}

.oneOrder-stringer__sub-tittle{
    padding-bottom: 1.5rem;
}


@media screen and (max-width: 768px) {

    .order-stringer-detail{


    }



}


    









