
.order-stringer{

    &__bg{
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    height: calc(100vh + 7rem);
    margin-bottom: -$height-footer;
    background: url("/src/assets/balleeffet.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    &__main{
    max-width: $width-max-desktop;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 80%;
    }

    &__contenair{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: $colour-seventh;
    font-size: 1.5rem;
    padding: 2.5rem 0rem 3.5rem 0rem;  
    width:100%;
    border-radius: 1rem;
    min-height: 45rem;
    margin-top: 10rem;
    }

    &__sub-contenair{
        border: 0.1rem solid #dadada;
        border-radius: 1rem;
        background-color: white;
        width: 90%;
        padding: 1rem;
        height: min-content;
        margin-bottom: 2.5rem;
    }

    &__list-contenair{
        width: 100%;
    }

    &__h1{

        padding-bottom: 2rem;
        text-align: center;
        border-bottom: 0.1rem solid #dadada;
        margin-bottom: 0rem;
    }


    &__list-row{
        width: 100%;
        display: flex;
        justify-content: flex;
        align-items: baseline;
        margin-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 0.1rem solid #dadada;
    }
    &__list-row-element{
        font-size: 1.7rem;
        margin: 0rem 2rem 0rem 2rem;
        min-width: 2.2rem;
    }
    &__btn{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__important-info{
        color: #007bff;
    }

}

.order-stringer__checkbox {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-bottom: 0rem;
}

.order-stringer__checkbox:checked {
    background-color: #007bff; /* Couleur lorsque la case est cochée */
    border-color: #007bff; /* Couleur de la bordure lorsque la case est cochée */
}

/* Style du "checkmark" à l'intérieur de la case à cocher */
.order-stringer__checkbox::after {
    content: "\2713"; /* Symbole "checkmark" Unicode */
    position: absolute;
    top: 0.1rem;
    left: 0.3rem;
    font-size: 1rem;
    color: white;
    display: none;
}

.order-stringer__checkbox:checked::after {
    display: block;
}







@media screen and (max-width: 768px) {

    .order-stringer{

        &__main{
        margin-top: 0rem;
        margin-bottom: 0rem;
        width: 100%;
        }
        &__contenair{

            border-radius: 0rem;
            margin-top: 8rem;
            }

    }



}


    









